@tailwind base;
@tailwind components;
@tailwind utilities;

/* re-using styles */
.prop--title {
  @apply font-semibold text-sm md:text-xl text-gray-700;
}

.prop--title-secondary {
  @apply font-semibold text-xs md:text-sm text-gray-500;
}

.link--hover:hover {
  @apply underline decoration-1 text-blue-400;
}

.link--visited:visited {
  @apply decoration-inherit text-cyan-800;
}

.st--line {
  @apply mt-1 mr-0 md:mr-10 border-1 border-cyan-400/50;
}

/*
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
*/